body {
	background-color: #e9ebf1;
	color: #292d3d;
}

#run {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgb(0 0 0 / 10%), 1px 1px 2px transparent, inset 2px 2px 4px hsl(0deg 0% 100% / 90%), inset -2px -2px 4px rgb(0 0 0 / 5%);
	font-size: 26px;
	height: 60px;
	letter-spacing: 0.1em;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 220px;
}

#run:hover {
	cursor: pointer;
}

#run:active {
	box-shadow: 1px 1px 2px hsl(0deg 0% 100% / 90%), -1px -1px 2px rgb(0 0 0 / 10%), inset -2px -2px 4px hsl(0deg 0% 100% / 90%), inset 2px 2px 4px rgb(0 0 0 / 16%);
}
